header {
  margin-top: 2rem;
}

.header-container {
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  gap: 15%;
}

.header-details {
  text-align: center;
  height: 100%;
  margin-left: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.header-img {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  border-radius: 2rem;
  padding: 0.5rem;
  margin-top: 3.5rem;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.header-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-socials::after {
  content: "";
  width: 2px;
  height: 1.5rem;
  background: var(--color-primary);
}

.scroll-down {
  /* position: fixed; */
  /* right: 1rem; */
  /* bottom: 5rem;
  font-weight: 300;
  font-size: 3rem;
  background-color: red;
  padding: 2rem; */
}
@media screen and (max-width: 480px) {
  .header-socials {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  /* .header-socials, */
  .header-socials::after,
  .scroll-down {
    display: none;
  }

  header {
    margin: 4rem auto 0;
  }
  .header-details {
    margin: 0 auto;
  }
  /* .header-img {
        margin: 3rem 2.5rem 0 1rem;   
    } */
}

@media screen and (min-width: 761px) and (max-width: 960px) {
  .header-img {
    display: none;
  }

  /* .header-socials {
    position: absolute;
    top: 4rem;
    left: -35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  } */

  /* .header-socials::after {
    content: "";
    width: 2px;
    height: 1.5rem;
    background: var(--color-primary);
  } */

  .scroll-down {
    position: absolute;
    right: 1rem;
    bottom: 35rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1200px) {
  .header-img {
    display: none;
  }

  /* .header-socials {
    position: absolute;
    bottom: 30rem;
    left: -50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .header-socials::after {
    content: "";
    width: 2px;
    height: 1.5rem;
    background: var(--color-primary);
  } */

  .scroll-down {
    position: absolute;
    right: 3rem;
    bottom: 35rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }
}

@media screen and (min-width: 1201px) {
  .header-img {
    display: none;
  }
  /* .header-socials {
    position: absolute;
    top: 4rem;
    left: -70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .header-socials::after {
    content: "";
    width: 2px;
    height: 1.5rem;
    background: var(--color-primary);
  } */

  .scroll-down {
    position: absolute;
    right: 6rem;
    bottom: 35rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }
}
