header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.header-socials {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    bottom: 2rem;
}

.header-socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    position: absolute;
    width: 22rem;
    height: 26rem;
    left: calc(50% - 11rem);
    margin-top: 2.5rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem;
}

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}

/* landscape */
@media screen and (max-width: 960px) and (min-width : 841px) {
    header {
        height: 50vh;
    }

    .me {
        display: none;
    }

    .scroll-down {
        position: absolute;
        right: -2.3rem;
        bottom: 6rem;
        transform: rotate(90deg);
        font-weight: 300;
        font-size: 0.9rem;
        letter-spacing: 1.5px;
    }

    .header-socials {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        bottom: 3rem;
    }

}

@media only screen and (max-width: 820px) and (min-width : 641px) {
    header {
        height: 30vh;
    }

    .me,
    .scroll-down,
    .header-socials {
        display: none;
    }


    .cta {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        font-size: 12px;
    }

    .header-container h1 {
        font-size: 1.5rem;
    }

}

/* tab */
@media screen and (max-width: 640px) and (min-width : 481px) {
    header {
        height: 100vh;
    }

    .header-socials,
    .scroll-down {
        display: none;
    }

}

/* mobile */
@media screen and (max-width: 480px) and (min-width : 280px) {
    header {
        height: 80vh;
    }

    .scroll-down,
    .header-socials {
        display: none;
    }
}