nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.8rem 1.8rem;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    border-radius: 1rem;
    display: flex;
    gap: 2.8rem;
    z-index: 2;
    backdrop-filter: blur(20px);
}

nav a {
    background: transparent;
    color: var(--color-light);
    padding: 0.1rem;
    font-size: 1.1rem;
}

nav a:hover {
    transform: scale(1.3);
}

nav a.active {
    background: rgb(47, 47, 88);
    color: var(--color-white);
    border-radius: 0.8rem;
    padding: 4px;
}