footer {
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  /* margin-top: 1rem; */
  background-color: #1f1f38;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.code-logo {
  font-size: 2rem;
  font-weight: 700;
  padding: 2px;
  margin-top: -1rem;
  margin-bottom: -0.4rem;
  margin-right: 5px;
  color: rgb(97, 57, 7);
}

.my-logo {
  font-size: 2rem;
  font-weight: 700;
  padding: 2px;
  margin-top: -1rem;
  color: rgb(97, 57, 7);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer-socials a {
  display: flex;
  border: 1px solid transparent;
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer-socials a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

.copyright {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  .footer-socials {
    flex-direction: row;
  }

  .footer-socials a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-socials a {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 460px) {
  .footer-socials {
    flex-direction: row;
  }
  .links {
    display: none;
  }

  .code-logo {
    font-size: 3rem;
    margin-top: -1rem;
    margin-bottom: -0.8rem;
    margin-right: 5px;
  }
}
