@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-secondary: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-light: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Playfair Display", serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.6;
  background-image: url(../src/assets/bg-texture.png);
}

/* Global styles */
.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 2rem;
}

section>h2,
section>h5 {
  text-align: center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  /* background: var(--color-primary); */
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  transition: var(--transition);
  cursor: pointer;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  border-color: transparent;
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* MediaQueries for md*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* MediaQueries for sm*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section>h2 {
    margin-bottom: 2rem;
  }
}